*.bak
*.pyc
*.uvopt
*.dep
*.o
*.d
*.crf
*.htm
*.hex
*.axf
*.lst
*.lnp
*.map
*.sct
*.swp

*.Mike
*.Rob
*.rawb
*.Robert

# Altium files #
################
History
*.PRJPCBStructure
Project*
__Previews
*.IntLib
.svn

